* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

section {
  padding-block: 3rem;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-baseline {
  justify-content: baseline;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.75;
}

a:active {
  opacity: 0.5;
}

.container {
  width: 1180px;
  margin-inline: auto;
}

.static {
  width: 100%;
  height: 100%;
  background-color: #FCEED5;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: fixed;
  z-index: 30;
  -webkit-animation-name: stat;
          animation-name: stat;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.static img {
  width: 100px;
  height: 100px;
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin: 0 auto;
}
@-webkit-keyframes loading {
  from {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes stat {
  100% {
    transform: translateX(100%);
  }
}

@keyframes stat {
  100% {
    transform: translateX(100%);
  }
}
header#main-header {
  overflow: hidden;
  padding: 2rem 0;
  padding-bottom: 0;
  width: 100%;
  background-color: #FCEED5;
}
header#main-header .container {
  gap: 30px;
}
header#main-header .container nav .navigator {
  gap: 48px;
  font-size: 16px;
  font-weight: 700;
  color: #003459;
}
header#main-header .container nav .search {
  position: relative;
}
header#main-header .container nav .search input {
  background-color: white;
  padding: 12px 28px;
  border-radius: 46px;
  border: none;
}
header#main-header .container nav .search i {
  position: absolute;
  left: 7px;
  top: 13px;
}
header#main-header .container nav .join {
  background-color: #003459;
  color: white;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 46px;
}
header#main-header .container nav .lanch {
  color: #003459;
  position: relative;
}
header#main-header .container nav .lanch ul {
  gap: 3px;
  color: white;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.9);
  padding: 2px 10px;
  opacity: 0;
  border-radius: 3px;
}
header#main-header .container nav .lanch #langg:checked + ul {
  opacity: 1;
}
header#main-header .container nav .bar {
  display: none;
  color: #003459;
}
header#main-header .container nav .sider {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 50vw;
  background-color: #003459;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  gap: 10px;
}
header#main-header .container nav .sider .x {
  text-align: right;
  color: white;
}
header#main-header .container nav .sider ul {
  color: white;
  gap: 5px;
}
header#main-header .container nav .sider ul li a:hover {
  color: #F7DBA7;
}
header#main-header .container nav .sider .side-search {
  margin-inline: auto;
  margin-block: 10px;
  position: relative;
  width: 100%;
}
header#main-header .container nav .sider .side-search input {
  text-align: center;
  width: 100%;
  background-color: white;
  padding: 12px 28px;
  padding-left: 50px;
  border-radius: 46px;
  border: none;
}
header#main-header .container nav .sider .side-search i {
  position: absolute;
  left: 20px;
  top: 12px;
}
header#main-header .container nav .sider .side-join {
  margin-inline: auto;
  text-align: center;
  background-color: #F7DBA7;
  color: white;
  width: 100%;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 46px;
}
header#main-header .container nav input:checked + .sider {
  transform: translateX(0);
  box-shadow: 0 0 20px #333;
}
header#main-header .container .side-sr {
  color: #003459;
  display: none;
}
header#main-header .container .showcase {
  flex-wrap: wrap;
}
header#main-header .container .showcase .show {
  flex: 1;
  gap: 48px;
}
header#main-header .container .showcase .show h1 {
  margin: 0;
  font-size: 60px;
  color: #003459;
}
header#main-header .container .showcase .show h1 scan {
  color: #003459;
  font-size: 46px;
}
header#main-header .container .showcase .show p {
  font-size: 16px;
  color: #003459;
  line-height: 24px;
}
header#main-header .container .showcase .show .flex a:nth-child(1) {
  border: 1px solid #003459;
  color: #003459;
  padding: 14px 35px;
  border-radius: 57px;
  font-size: 16px;
}
header#main-header .container .showcase .show .flex a:nth-child(2) {
  font-size: 16px;
  color: white;
  background-color: #003459;
  padding: 14px 35px;
  border-radius: 57px;
}
header#main-header .container .showcase img {
  width: 60%;
}

section#new .container {
  gap: 30px;
}
section#new .container .what {
  font-weight: 500;
  padding-inline: 8px;
}
section#new .container .word {
  padding-inline: 8px;
}
section#new .container .word h2 {
  color: #003459;
}
section#new .container .word a {
  border: 1px solid #003459;
  color: #003459;
  padding: 14px 35px;
  border-radius: 57px;
  font-size: 16px;
  word-spacing: 4px;
}
section#new .container .pets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
}
section#new .container .pets .child {
  padding: 8px;
  gap: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
section#new .container .pets .child h3 {
  font-size: 16px;
}
section#new .container .pets .child img {
  border-radius: 5px;
}
section#new .container .pets .child p {
  word-spacing: 5px;
  color: #667479;
}
section#new .container .pets .child p br {
  display: none;
}
section#new .container .more {
  display: none;
  border: 1px solid #003459;
  color: #003459;
  padding: 14px 35px;
  border-radius: 57px;
  font-size: 16px;
  word-spacing: 4px;
  width: 90vw;
  flex: 1;
  text-align: center;
}

section#explore .container {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #003459;
  border-radius: 20px;
  padding-top: 36px;
  padding-inline: 85px;
  flex-wrap: wrap;
}
section#explore .container .exp {
  flex: 1;
  z-index: 10;
}
section#explore .container .frend {
  z-index: 10;
  gap: 24px;
  flex: 1;
}
section#explore .container .frend h2 {
  font-size: 52px;
  color: #003459;
  text-align: right;
}
section#explore .container .frend h2 scan {
  font-size: 36px;
}
section#explore .container .frend p {
  font-size: 12px;
  text-align: right;
  line-height: 18px;
  margin-left: 100px;
}
section#explore .container .frend .flex {
  gap: 20px;
}
section#explore .container .frend .flex a:nth-child(1) {
  border: 1px solid #003459;
  color: #003459;
  padding: 14px 35px;
  border-radius: 57px;
  font-size: 16px;
}
section#explore .container .frend .flex a:nth-child(2) {
  font-size: 16px;
  color: white;
  background-color: #003459;
  padding: 14px 35px;
  border-radius: 57px;
}
section#explore .container .kv-yellow {
  position: absolute;
  width: 605.03px;
  height: 635px;
  background-color: #FCEED5;
  border-radius: 75px;
  right: -80px;
  top: -240px;
  transform: rotate(28deg) scale(1.1);
}
section#explore .container .kv-blue {
  width: 787.54px;
  height: 787.54px;
  position: absolute;
  background-color: #002A48;
  border-radius: 99px;
  transform: rotate(28deg);
  left: -225px;
  top: 175px;
}

section#product .container {
  gap: 30px;
}
section#product .container .what {
  font-weight: 500;
  padding-inline: 8px;
}
section#product .container .word {
  padding-inline: 8px;
}
section#product .container .word h2 {
  color: #003459;
}
section#product .container .word a {
  border: 1px solid #003459;
  color: #003459;
  padding: 14px 35px;
  border-radius: 57px;
  font-size: 16px;
  word-spacing: 4px;
}
section#product .container .pets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
}
section#product .container .pets .child {
  padding: 8px;
  gap: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
section#product .container .pets .child h3 {
  font-size: 16px;
}
section#product .container .pets .child img {
  border-radius: 5px;
}
section#product .container .pets .child p {
  word-spacing: 5px;
  color: #667479;
}
section#product .container .pets .child p br {
  display: none;
}
section#product .container .pets .child strong {
  width: 100%;
  padding: 8px;
  text-align: center;
  background-color: #FCEED5;
  border-radius: 8px;
}
section#product .container .pets .child:nth-child(1) h3 {
  margin-bottom: 17px;
}
section#product .container .pets .child:nth-child(2) h3 {
  margin-bottom: 17px;
}
section#product .container .pets .child:nth-child(4) h3 {
  margin-bottom: 17px;
}
section#product .container .pets .child:nth-child(8) h3 {
  margin-bottom: 17px;
}
section#product .container .more {
  display: none;
  border: 1px solid #003459;
  color: #003459;
  padding: 14px 35px;
  border-radius: 57px;
  font-size: 16px;
  word-spacing: 4px;
  width: 90vw;
  flex: 1;
  text-align: center;
}

section#partners .container {
  gap: 30px;
}
section#partners .container .part {
  color: #003459;
}
section#partners .container .part b {
  font-size: 24px;
}
section#partners .container .part a {
  border: 1px solid #003459;
  color: #003459;
  padding: 14px 35px;
  border-radius: 57px;
  font-size: 16px;
  word-spacing: 1px;
}

section#adoption .container {
  overflow: hidden;
  background-color: #FFB775;
  border-radius: 20px;
  position: relative;
}
section#adoption .container img {
  z-index: 5;
}
section#adoption .container .adop {
  z-index: 5;
  gap: 8px;
}
section#adoption .container .adop h2 {
  color: #003459;
  font-size: 52px;
}
section#adoption .container .adop h3 {
  color: #003459;
  font-size: 36px;
}
section#adoption .container .adop p {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 20px;
}
section#adoption .container .adop .flex {
  gap: 20px;
}
section#adoption .container .adop .flex a:nth-child(1) {
  border: 1px solid #003459;
  color: #003459;
  padding: 14px 35px;
  border-radius: 57px;
  font-size: 16px;
}
section#adoption .container .adop .flex a:nth-child(2) {
  font-size: 16px;
  color: white;
  background-color: #003459;
  padding: 14px 35px;
  border-radius: 57px;
  order: -1;
}
section#adoption .container .kv1 {
  position: absolute;
  background-color: #FCEED5;
  width: 782.29px;
  height: 635px;
  transform: matrix(-0.9, 0.43, 0.43, 0.9, 0, 0);
  border-radius: 99px;
  left: -200px;
  bottom: 1px;
}
section#adoption .container .kv2 {
  position: absolute;
  width: 787.54px;
  height: 787.54px;
  background-color: #F7DBA7;
  transform: matrix(-0.88, 0.47, 0.47, 0.88, 0, 0);
  border-radius: 99px;
  opacity: 0.5;
  right: -225px;
  top: 150px;
}

section#knowledge .container {
  gap: 30px;
}
section#knowledge .container .what {
  font-weight: 500;
  padding-inline: 8px;
}
section#knowledge .container .word {
  padding-inline: 8px;
}
section#knowledge .container .word h2 {
  color: #003459;
  text-transform: capitalize;
}
section#knowledge .container .word a {
  border: 1px solid #003459;
  color: #003459;
  padding: 14px 35px;
  border-radius: 57px;
  font-size: 16px;
  word-spacing: 4px;
}
section#knowledge .container .cards {
  gap: 20px;
}
section#knowledge .container .cards .card {
  width: 32%;
  padding: 8px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  gap: 15px;
}
section#knowledge .container .cards .card img {
  border-radius: 8px;
}
section#knowledge .container .cards .card b {
  padding: 5px 10px;
  background-color: #00A7E7;
  color: white;
  width: 100px;
  font-size: 12px;
  border-radius: 28px;
}
section#knowledge .container .cards .card h3 {
  font-size: 16px;
  line-height: 24px;
  color: black;
  word-spacing: 1px;
}
section#knowledge .container .cards .card p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

footer {
  padding-block: 4rem;
  background-color: #FCEED5;
}
footer .container {
  gap: 30px;
}
footer .container .registr {
  border-radius: 16px;
  gap: 20px;
  width: 100%;
  padding: 32px;
  background-color: #003459;
  color: white;
  margin: 0 auto;
}
footer .container .registr h2 {
  font-size: 24px;
  font-weight: 700;
  flex: 1;
}
footer .container .registr .reg {
  flex: 2;
  background-color: white;
  padding: 12px;
  border-radius: 14px;
}
footer .container .registr .reg .flex {
  width: 100%;
  gap: 12px;
}
footer .container .registr .reg .flex label {
  flex: 2;
}
footer .container .registr .reg .flex label .email {
  width: 100%;
  padding: 14px 28px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #99A2A5;
}
footer .container .registr .reg .flex button {
  flex: 1;
  font-size: 16px;
  color: white;
  background-color: #003459;
  padding: 14px 35px;
  border-radius: 8px;
  border: none;
  font-weight: 400;
}
footer .container .registr .reg .flex button:hover {
  opacity: 0.75;
}
footer .container .registr .reg .flex button:active {
  opacity: 0.5;
}
footer .container .nav {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 52, 89, 0.3);
  padding-block: 2rem;
}
footer .container .nav ul {
  gap: 60px;
}
footer .container .nav .icons {
  gap: 40px;
}
footer .container .bottom p {
  color: gray;
}

@media (max-width: 1200px) {
  .container {
    width: 940px;
  }
  header#main-header .container nav .navigator {
    display: none;
  }
  header#main-header .container nav .search {
    display: none;
  }
  header#main-header .container nav .join {
    display: none;
  }
  header#main-header .container nav .lanch {
    display: none;
  }
  header#main-header .container nav .bar {
    display: block;
    order: -1;
  }
  header#main-header .container nav .side-sr {
    display: block;
  }
  header#main-header .container .showcase {
    padding-top: 1rem;
    padding-inline: 3rem;
    flex-direction: column;
    align-content: center;
  }
  header#main-header .container .showcase .show {
    padding-left: 5px;
  }
  header#main-header .container .showcase .show .flex {
    justify-content: center;
    gap: 20px;
  }
  header#main-header .container .showcase img {
    width: 100%;
  }
  section#explore .container {
    flex-direction: column;
  }
  section#explore .container .frend {
    width: 100%;
    order: -1;
  }
  section#explore .container .frend h2 {
    text-align: center;
  }
  section#explore .container .frend p {
    text-align: center;
    margin: 0 auto;
    width: 342px;
  }
  section#explore .container .frend .flex {
    justify-content: center;
  }
  section#explore .kv-yellow {
    margin-right: 250px;
    margin-top: -50px;
  }
  section#explore .kv-blue {
    z-index: 5;
    margin-top: 225px;
  }
  section#partners {
    display: none;
  }
  section#adoption {
    display: none;
  }
  section#knowledge .container .cards {
    align-content: center;
    justify-content: center;
  }
  section#knowledge .container .cards .card:nth-child(2) {
    display: none;
  }
  section#knowledge .container .cards .card:nth-child(1) {
    width: 100%;
  }
  section#knowledge .container .cards .card:nth-child(3) {
    display: none;
  }
}
@media (max-width: 960px) {
  .container {
    width: 560px;
    margin: 0 auto;
  }
  header#main-header .container nav .sider {
    width: 80vw;
  }
  header#main-header .container .showcase {
    padding-inline: 0;
  }
  header#main-header .container .showcase .show h1 {
    font-size: 46px;
  }
  header#main-header .container .showcase .show h1 scan {
    font-size: 23px;
  }
  header#main-header .container .showcase .show p {
    font-size: 12px;
  }
  header#main-header .container .showcase .show .flex {
    justify-content: center;
  }
  section#new .container {
    padding: 10px;
  }
  section#new .container .pets {
    grid-template-columns: repeat(2, 2fr);
  }
  section#new .container .pets .child p br {
    display: block;
  }
  section#new .container .pets .child p .dot {
    display: none;
  }
  section#explore .container .frend {
    margin: 0;
  }
  section#explore .container .frend h1 {
    font-size: 36px;
  }
  section#explore .container .frend h1 scan {
    font-size: 24px;
  }
  section#explore .container .frend p {
    width: 100%;
  }
  section#explore .container .kv-yellow {
    margin: 0;
    margin-top: 75px;
  }
  section#explore .container .kv-blue {
    margin: 0;
    margin-top: 435px;
  }
  section#product .container {
    padding: 10px;
  }
  section#product .container .pets {
    grid-template-columns: repeat(2, 2fr);
  }
  section#product .container .pets .child p br {
    display: block;
  }
  section#product .container .pets .child p .dot {
    display: none;
  }
  footer .container .registr {
    flex-direction: column;
  }
  footer .container .registr .reg {
    width: 100%;
  }
  footer .container .registr .reg .flex label {
    flex: 1;
  }
  footer .container .registr .reg .flex button {
    flex: 1;
  }
  footer .container .nav {
    flex-direction: column;
    gap: 30px;
  }
  footer .container .nav ul {
    width: 100%;
  }
  footer .container .bottom {
    flex-direction: column;
    gap: 15px;
  }
  footer .container .bottom p:nth-child(1) {
    order: 2;
  }
}
@media (max-width: 580px) {
  .container {
    width: 100%;
    padding: 0;
  }
  header#main-header .container {
    padding: 10px;
  }
  header#main-header .container .showcase .show .flex a {
    padding: 6px 12px;
  }
  section#new .container .more {
    display: inline-block;
  }
  section#new .container .word a {
    display: none;
  }
  section#new .container .pets {
    justify-content: center;
    grid-template-columns: repeat(2, 45%);
  }
  section#product {
    display: none;
  }
  section#knowledge .container .word a {
    display: none;
  }
  section#knowledge .container .cards {
    padding: 8px;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }
  section#knowledge .container .cards .card:nth-child(2) {
    display: flex;
    width: 100%;
  }
  section#knowledge .container .cards .card:nth-child(1) {
    width: 100%;
  }
  section#knowledge .container .cards .card:nth-child(3) {
    display: flex;
    width: 100%;
  }
  footer .container {
    margin: 0 auto;
  }
  footer .container .registr {
    flex-direction: column;
    width: 100%;
  }
  footer .container .registr .reg {
    flex-direction: column;
    width: 100%;
  }
  footer .container .registr .reg .flex {
    flex-direction: column;
  }
  footer .container .registr .reg .flex label {
    flex: 1;
    width: 100%;
  }
  footer .container .registr .reg .flex button {
    flex: 1;
    width: 100%;
  }
  footer .container .nav {
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
  }
  footer .container .nav ul {
    gap: 1px;
  }
  footer .container .nav .icons {
    gap: 10px;
  }
  footer .container .bottom {
    flex-direction: column;
    gap: 15px;
  }
  footer .container .bottom p:nth-child(1) {
    order: 2;
  }
}/*# sourceMappingURL=main.css.map */