$black: black;
$white: white;
$blue: #003459;
$light: #FCEED5;
$back-gr: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
$light-yellow: #F7DBA7;
$gray: #667479;
$orange: #FFB775;


$lg: 1200px; // нужная часть!!!
$md: 960px;
$sm: 580px;
$xs: 300px;
